*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.head{
    text-align: center;
    font-size: 3vw;
    background-color: lightblue;
}
.upp{
    width: 30vw;
    height: 3vw;
    margin-top: 5vw;
    padding-left: 2vw;
}
.btn{
    width: 15vw;
    height: 3vw;
    margin-top: 3vw;
    background-color: black;
    color: white;
    font-size: 1.5vw;
    font-style: italic;
    margin-bottom: 3vw;
}
#out{
    width: 30vw;
    height: 20vw;
    margin: auto;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    font-weight: 800;
}